$layer-height: 100vh;
$delay-height: 200px; // Delay between layer animations

.reveal {
  position: relative;
  padding: 0.1px 0; // Forces position sticky to honour last bottom margin (delay on last layer)

  &__inner,
  &__layer__image {
    background: no-repeat center center;
    background-size: cover;
  }

  &__inner {
    position: sticky;
    top: 0;
    height: $layer-height;
    overflow: hidden;
  }

  &__layer {
    position: absolute;
    top: -100%;
    overflow: hidden;

    &,
    &__image {
      width: 100%;
      height: 100%;
    }
  }

  &__placeholder {
    margin-top: $delay-height;
    height: $layer-height;

    &:last-child {
      margin-bottom: $delay-height;
    }
  }
}
